
QMainWindow{
 background: #30384c;
}

QMainWindow::separator{
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

/* MENU BAR STYLE */

QMenuBar{
     background: #30384c;
     color: #A9B7C6;
     font-family: Consolas;
     border-bottom: 1px solid #49597c;
     font-size: 12;
     padding: 2px;
}

QMenuBar::item:selected{
    background: #39435b;
    color: #afbece;
}

/* MENU DROPDOWN STYLE */

QMenu{
    background-color: #30384c;
    border: 2px solid #49597c;
    color: #A9B7C6;
    font-family: Consolas;
}

QMenu::item{
    background: transparent;
}

QMenu::item::selected{
    color: #afbece;
    background: #39435b;
}

/* TAB BAR STYLE */
QTabWidget::pane{
    border-top: 1px solid #49597C;
}

QTabBar::tab{
    background: #30384c;
    color: #A9B7C6;
    text-align: center;
    min-width: 10em;
    height: 24px;
    font-family: Consolas;
}

QTabBar::tab:selected{
    background: #414b66;
    border-bottom: 2px solid white;
}

QTabBar::close-button{
    image: url(resources/img/close_button.png);
}

QTabBar::close-button:hover{
    image: url(resources/img/close_button_hover.png);
}

/* Modal Dialog */

QWidget#modal{
    background: #30384C;
    border-top: 1px solid #49597c;
}

QWidget#modal > QLabel#header{
    color: #A9B7C6;
    font-family: Consolas;
    font-size: 12px;
}

QLineEdit#dialog_entry{
    background: #39435b;
    border: 2px solid #49597c;
    color: #A9B7C6;
    padding: 5px;
    max-width: 500px;
    font-family: Consolas;
}

/* Project Structure Dock */

QTreeView#project_structure{
    background: #30384c;
    color: #A9B7C6;
    font-family: Consolas;
    border: none;
    border-right: 1px solid #49597c;
    border-left: 1px solid #49597c;
    border-bottom: 1px solid #49597c;
    padding-top: 5px;
}

QTreeView#project_structure::branch{
    image: none;
}

QWidget#dock_title{
    background: #30384c;
    border-left: 1px solid #49597c;
    border-bottom: 1px solid #49597c;
    border-right: 1px solid #49597c;
}

QLabel#dock_title_label{
    background: #30384c;
    color: #A9B7C6;
    padding-top: 6px;
    padding-bottom: 7px;
    font-family: Consolas;
    border-bottom: 1px solid #49597c;
}

QDockWidget#project_structure{
    color: #A9B7C6;
}

QPushButton#dock_close{
    qproperty-icon: url(" ");
    qproperty-iconSize: 12px 12px;
    width: 12px;
    height: 12px;
    padding-right: 10px;
    background-color: #30384c;
    border: none;
    background-image: url("resources/img/close_button.png");
    background-position: center;
    background-repeat: no-repeat;
}

QPushButton#dock_close:hover{
    background-image: url("resources/img/close_button_hover.png");
}